@import 'tailwindcss';

:root {
  --font-mono: 'Roboto Mono', monospace;
}

* {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
}

html,
body,
#app {
  height: 100%;
  overflow-x: hidden;
}

@theme {
  --color-customText: #64748b;
  --color-darkBlue: #153d8b;
  --color-grayMiddle: #a2b1c6;
  --color-primaryBlue: #2f6fec;
}
